
<li id='/show' class='navLi'><a href='/show'>Show</a></li>
<li id='/display' class='navLi'><a href='/display'>Display</a></li>
<li id='/items' class='navLi'><a href='/items'>Items</a></li>
<li id='/blogs' class='navLi'><a href='/blogs'>Blog</a></li>
<li id='/about' class='navLi'><a href='/about'>About</a></li>
<li id='/contact' class='navLi'><a href='/contact'>Contact</a></li>
				