<div class='flex col center centerAlign'>
    <h3><a href="/offering">Offering</a></h3>
    <hr class='hidHr'>
    <div class='flex centerAlign row between offer col100'>
        <div class="flex col center centerAlign col50">
            <a href="/offering" class="col75"><i class="fas fa-meteor fa-2xl"></i></a>
        </div>
        <div class="flex col center centerAlign col100">
            <ul class='flex col center centerAlign col50 offerlist'>
                <li>Point 1: a bunch of interesting thoughts</li>
                <li>Point 2: a bunch of interesting thoughts</li>
                <li>Point 3: a bunch of interesting thoughts</li>
            </ul>
        </div>
    </div>
    <hr class='hidHr'>
    <form action="/offering" method="GET">
        <button type="submit">Explore Offering</button>
    </form>
    <hr>
</div>