<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head-content') %>
    <!--<meta name="keywords" content="website, blog, foo, bar"> TODO: add metadata for site
    <meta name="author" content="John Doe">
    <meta name="publisher" content="John Doe">
    <meta name="copyright" content="John Doe">
    <meta name="description" content="This short description describes my website.">
    <meta name="page-topic" content="Media">
    <meta name="page-type" content="Blogging">
    <meta name="audience" content="Everyone">-->
</head>
<%- include('partials/header') %>

<body class="flex col center centerAlign wide">
<hr class='hidHr'>

    <div class="flex col center centerAlign">
        <hr class='hidHr'>
        <h1>The Page Cannot Be Found</h1>
        <h2>~ 404 ~</h2>
        <hr>
        <hr class='hidHr'>
        <hr class='hidHr'>
        <p class="textCenter">The page you are looking for doesn't exist.</p>
        <hr class='hidHr'>
        <hr class='hidHr'>
        <p class="textCenter">Perhaps the link was mistyped?</p>
        <hr class='hidHr'>
        <hr class='hidHr'>
        <p class="textCenter">Good news though, several good pages that do exist are only a mouse click away.</p>
        <hr class='hidHr'>
        <hr class='hidHr'>
        <p class="textCenter">Checkout the navigation bar at the top of the page to find your way around.</p>
        <hr class='hidHr'>
        <hr class='hidHr'>
        <p class="textCenter">Or... click this button:</p>
        <hr class='hidHr'>
        <hr class='hidHr'>
        <form action="/" method="GET">
            <button type="submit">Go Home</button>
        </form>
        <hr class='hidHr'>
        <hr>
        <hr class='hidHr'>
        <h2> ~ 404 ~ </h2>
        <hr class='hidHr'>
        <hr class='hidHr'>
    </div>
<hr class='hidHr'>
<%- include('partials/footer') %>
<hr class='hidHr'>
</body>

</html>