<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">
<head>
  <%- include('partials/head-content') %>
  <!--<meta name="keywords" content="website, blog, foo, bar"> TODO: add metadata for site
  <meta name="author" content="John Doe">
  <meta name="publisher" content="John Doe">
  <meta name="copyright" content="John Doe">
  <meta name="description" content="This short description describes my website.">
  <meta name="page-topic" content="Media">
  <meta name="page-type" content="Blogging">
  <meta name="audience" content="Everyone">-->
</head>
<body>
<%- include('partials/header') %>
<main class='col'>
  <hr class='hidHr'>         
  <hr class='hidHr'>         
  <h1>Independent Publisher since 2011</h1>
  <hr class='hidHr'>

  <div class='flex row center centerAlign subBox col90'>

    <div class='subCol col50'>
      <p> MQuills Publishing was founded to promote quality innovation in publishing.
          <br>
          <br>
          Too many new publishers left their writers with only mediocre quality book 
          development and a lack of support. Too many old publishers were only interested 
          in writers who had already crafted successful careers, while simultaneously getting 
          mired in inefficient tradition and bureaucracy. Both established and new publishers 
          strained to adapt to the modern book market.
          <br>
          <br>
          ​Consequently, MQuills was created with the directive of designing a new kind of 
          publishing firm which helps develop quality works while operating under the changing 
          realities of an evolving industry.
          <br>
          <br>
          Our goal is to publish great books and foster writers in their careers. The right words 
          can change the world, but writers often struggle to get their works noticed by the public. 
          We offer the resources to make a good writer great.</p>
    </div>

    <div class='subCol col50'>
      <p> The book market has changed dramatically in many ways. The advent of ebooks, self publishing, 
          globalism, social networking and online markets are just some of the disruptive forces of the 
          recent decade and a half that have changed the face of the book market.
          <br>
          <br>
          A new truth has emerged: an author no longer needs publishers to get their work out there. 
          However, merely meeting needs is a low bar to set. This minimally viable level is not the 
          standard that should be aimed for. While there are clear winners in self-publishing, it is 
          also certain that overall quality has suffered.
          <br>
          <br>
          An author who goes it alone must learn to be an art developer, copy editor, digital format 
          creator, distributor, contract writer or negotiator, and marketing expert. The competition 
          and the learning curves in these areas are steep. While anyone can learn to do these things, 
          there are only so many hours in the day, and all of these things take away from being a writer.
      </p>
    </div>

  </div>

  <hr class='hidHr'>
  <hr>
  <a href='/contact'><h2 id='aboutLink'>Get Started with Us</h2></a>
  <hr class='hidHr'>
  <hr>
  <hr class='hidHr'>

  <div class='flex row center centerAlign subBox col90'>
    <div class='subCol col50'>
      <p> <strong>Art Development:</strong> A book cover should be well done and relevant to the story. 
          Every cover is designed based on initial input from our authors and care regarding their 
          feedback. We will make you a cover you can be proud of.
          <br>
          <br>
          <strong>Editing:</strong> All of our works go through editing after we have accepted them. 
          We think editing is indispensable, and authors never have to pay this cost, or any other.
          <br>
          <br>
          <strong>Web Monitoring and Protection:</strong> We monitor web activity and content to protect 
          our authors' copyrights. Any piracy or copyright violation we find will be addressed using cease 
          and desist orders, as well as possible search engine de-listing, or if warranted, legal action.
      </p>
    </div>
    <div class='subCol col50'>
      <p> <strong>Marketing and Consultation:</strong> We actively engage in marketing and other activities 
          that will raise the profile of our books on the web and in book stores. It has to be our prerogative 
          to advance all titles together. We have also created directions, resources and networks to enable 
          to get the word out, and we are always available to advise you on any marketing endeavor.
          <br>
          <br>
          <strong>Distribution:</strong> ISBNs for digital and physical media are always provided for free. 
          We format in multiple digital media, as well as creating novels in paperback format, in order to 
          distribute as widely as possible.
      </p>
    </div>
  </div>

  <hr class='hidHr'>
  <hr>
  <hr class='hidHr'>
  <p class='card pad15'>Even if you decide you would rather go it alone without a publisher, you can still 
      acquire most of our services à la carte through our sister site designed for 
      self-publishers:  <a href='https://www.PublishingAssist.com'>PublishingAssist.com</a>.</p>

</main>
<%- include('./partials/footer') %>  
</body>
</html>