<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">
<head>
  <%- include('partials/head-content') %>
  <!--<meta name="keywords" content="website, blog, foo, bar"> TODO: add metadata for site
  <meta name="author" content="John Doe">
  <meta name="publisher" content="John Doe">
  <meta name="copyright" content="John Doe">
  <meta name="description" content="This short description describes my website.">
  <meta name="page-topic" content="Media">
  <meta name="page-type" content="Blogging">
  <meta name="audience" content="Everyone">-->
</head>
<body>
  <%- include('partials/header') %>
  <main>
    <h2>Location & Directions</h2>
    <iframe width="70%" height="430" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=586&amp;height=531&amp;hl=en&amp;q=6000%20J%20st%20Sacramento+(CSUS)&amp;t=h&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> 
    <a href='https://embedmaps.net'>google maps widget for website</a> 
    <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=72fbde122d681177a24810e5bfa0c1c52d077f4b'></script>
    <h3>Address</h3>
    <hr class='hidHr'>
    <center><p>6000 J Street <hr class='hidHr'>
    Sacramento, CA 95814</p></center>
  </main>
  <%- include('./partials/footer') %>
</body>
</html>