<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">
<head>
  <%- include('partials/head-content') %>
  <!--<meta name="keywords" content="website, blog, foo, bar"> TODO: add metadata for site
  <meta name="author" content="John Doe">
  <meta name="publisher" content="John Doe">
  <meta name="copyright" content="John Doe">
  <meta name="description" content="This short description describes my website.">
  <meta name="page-topic" content="Media">
  <meta name="page-type" content="Blogging">
  <meta name="audience" content="Everyone">-->
</head>
<body>
<%- include('partials/header') %>
<!--SPLASH-->
<main class="col">
  <div class='col card flex centerAlign'>
    <h2 id='offerings'>Offering</h2>
    <hr class="quoteHr">

    <div class='flex col'>
      <hr class='hidHr'>
      
      <div class='flex center centerAlign row evenly offer col100'>
          
        <div class="flex col center centerAlign">
          
          <div class="flex row evenly centerAlign">
  
            <div><a href="/offering"><i class="fas fa-meteor fa-2xl"></i></a></div>
  
            <div class="rtbit">
              <ul class='col offerlist'>
                <li class="offerli">Point 1: a bunch of interesting thoughts</li>
                <hr class='hidHr'>
                <li class="offerli">Point 2: a bunch of interesting thoughts</li>
                <hr class='hidHr'>
                <li class="offerli">Point 3: a bunch of interesting thoughts</li>
                <hr class='hidHr'>
                <li class="offerli">Point 3: a bunch of interesting thoughts</li>
                <hr class='hidHr'>
                <li class="offerli">Point 3: a bunch of interesting thoughts</li>
                <hr class='hidHr'>
              </ul>
            </div>
  
          </div>

          <hr class='hidHr'>
          <hr>
          <hr class='hidHr'>
          <hr class='hidHr'>

          <div class='flex mobileRow col100 evenly centerAlign'>
            <a href="tel:15555555555"><img class='contactIcon' src="/images/phoneIcon.png" alt="Phone"/><hr class='hidHr'>PHONE</a> <!--TODO: phone # -->
            <a href="mailto:name@domain.com?subject=subject text"><img class='contactIcon' src="/images/emailIcon.png" alt="Email"/><hr class='hidHr'>EMAIL</a> <!--TODO: email -->
          </div>

        </div>


          <div class="flex col tricol center centerAlign">
            <h3>Contact Us</h3>
            <p class='indicator'><span style='color:red'>* </span><small>INDICATES REQUIRED FIELD</small></p>
            <hr class='hidHr'>
            <form class="flex col center centerAlign wide" action='https://formsapi.jabwn.com/key/p0yfEvzqAnax9BfZKJew' method='post'> <!--TODO: Unique https://formsapi.jabwn.com/ API-->
                <label for='name'>Name</label>
                <input type='text' name='name' required>
                <label for='email'>Email<span style='color:red'> *</span></label>
                <input type='email' name='email' required>
                <label for='phone'>Phone<span style='color:red'> *</span></label>
                <input type='text' name='phone' required>
                <input type="hidden" name="_subject" value="Contact Page Form"> <!--TODO: Set form name-->
                <input type="hidden" name="_replyto" value="%email">
                <input type="hidden" name="_after" value="https://www.google.com"> <!--TODO set redirect full path-->
                <script></script> <!--TODO: iubunda privacy policy-->
                <hr class='hidHr'>
                <hr class='hidHr'>
                <button type='submit'>Contact Us</button>
            </form>

          </div>

      </div>

      <div class="flex col center centerAlign">
        <p class="pad15 col75">They done good. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
          molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
          numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
          obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam.</p>
      </div>
      
      <hr class='hidHr'>
    </div>

    <hr>

    <div class="flex centerAlign col center">
      <hr class='hidHr'>
        
      <div class="col">
        <img class="personImg" src="/images/fp1.jpeg" alt="A reviewer's portrait"/>
      </div>

      <div class="flex centerAlign col60 col">
        <blockquote> "They done good. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
            optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
            obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam." </blockquote>
      </div>

    </div>
    
    <hr class='hidHr'>
  </div>

  <div class='flex centerAlign col panel'>
    <hr class='hidHr'>
    <h2>More About Offering</h2>
    <hr class='hidHr'>
    <p class='explainer'>They done good. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur 
        voluptatum laborum numquam blanditiis harum quisquam eius sed odit fugiat 
        iusto fuga praesentium optio, eaque rerum! Provident similique accusantium 
        nemo autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto 
        voluptate aliquam.<br>
        <br>
        They done good. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur 
        voluptatum laborum numquam blanditiis harum quisquam eius sed odit fugiat 
        iusto fuga praesentium optio, eaque rerum! Provident similique accusantium 
        nemo autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto 
        voluptate aliquam.<br>
        <br>
        They done good. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur 
        voluptatum laborum numquam blanditiis harum quisquam eius sed odit fugiat 
        iusto fuga praesentium optio, eaque rerum! Provident similique accusantium 
        nemo autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto 
        voluptate aliquam.<br>
        <hr class='hidHr'>
    </p>
    <form action='https://formsapi.jabwn.com/key/p0yfEvzqAnax9BfZKJew' method='post'> <!--TODO: Unique https://formsapi.jabwn.com/ API-->
      <div class='flex row'>
        <div>
          <label for='name'>Name</label><hr class='hidHr'>
          <hr class='hidHr'>
          <input type='text' name='name' required>
          <hr class='hidHr'>
        </div>
        <div>
          <label for='email'>Email<span style='color:red'> *</span></label><hr class='hidHr'>
          <hr class='hidHr'>
          <input type='email' name='email' required>
          <hr class='hidHr'>
        </div>
        <div>
          <label for='phone'>Phone<span style='color:red'> *</span></label><hr class='hidHr'>
          <hr class='hidHr'>
          <input type='text' name='phone' required>
          <hr class='hidHr'>
        </div>
      </div>
      <hr class='hidHr'>
      <p class='indicator'><span style='color:red'>* </span><small>INDICATES REQUIRED FIELD</small></p>
      <hr class='hidHr'>
      <input type="hidden" name="_subject" value="Display Page Form2"> <!--TODO: Set form name-->
      <input type="hidden" name="_replyto" value="%email">
      <input type="hidden" name="_after" value="https://www.google.com"> <!--TODO set redirect full path-->
      <hr class='hidHr'>
      <script></script> <!--TODO: iubunda privacy policy-->
      <button type='submit'>Get Your X</button>
    </form>
    <hr class='hidHr'>
    <hr class='hidHr'>
  </div>
      
</main>
<%- include('./partials/footer') %>
</body>
</html>